.tw-followCard {
  display: flex;
  align-items: center;
  font-size: 0.8 rem;
  justify-content: space-between;
  color: #fff;
}

.tw-followCard-header {
  display: flex;
  align-items: center;
  gap: 4px;
}

.tw-followCard-info {
  display: flex;
  flex-direction: column;
}

.tw-followCard-infoUserName {
  opacity: 0.5;
}

.tw-followCard-avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}

.tw-followCard-button {
  margin-left: 1rem;
  border: 0;
  border-radius: 62rem;
  font-weight: bold;
  padding: 6px 16px;
  cursor: pointer;
  border: 1px solid #000;
}

.tw-followCard-text {
  display: block;
}

.tw-followCard-button:hover {
  background-color: #09f;
  transition: 0.3s ease background-color;
  opacity: 0.8;
}

.tw-followCard-button.is-following {
  border: 1px solid #bbb;
  background: transparent;
  color: #fff;
}
.tw-followCard-button.is-following:hover {
  background: rgb(255, 0, 0, 0.2);
  color: red;
  border: 1px solid red;
  transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -ms-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
}

.tw-followCard-button.is-following:hover .tw-followCard-text {
  display: none;
}

.tw-followCard-button.is-following:hover .tw-followCard-stopFollow {
  display: block;
}

.tw-followCard-stopFollow {
  display: none;
}
